@import url("font/stylesheet.css");

body{
  background-color: #FFFFFF;
  margin: 0;
  margin-top: 60px;
}

nav{
  position: fixed;
  width: 100%;
  height: 60px;
  margin: auto;
  padding: 10px;
  background-color: #fff;
  top: 0;
  white-space: nowrap;
}

nav a{
  font-size: 20px;
  color: #3D3232;
}

.footer{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  grid-row: 3fr 1fr;
  background-image: image(img-4.png);
  background-color: #000000;
  margin-top: 120px;
  white-space: nowrap;
}

.footer div:nth-child(7){
  grid-column-start: 3;
  grid-column-end: 4;
}

footer h1{
  width: fit-content;
}

footer h3{
  margin: 0;
}

footer a{
  margin-top: 20px;
  font-size: 64px;
  color: #AC2C2C;
  text-decoration: none;
}

footer a:hover {
  color: #FFFFFF;
  font-size: 60px;
}

footer hr{
  background-color: #AC2C2C;
  color:#AC2C2C;
  width: 100%;
  margin-top: 16%;
}

img.social{
  width: 80px;
  height: 80px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#menu {
  display: grid;
  grid-template-columns: 5fr 3fr 1fr 3fr 1fr 3fr 1fr 3.5fr 1fr 3fr 5fr;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#logo {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 5fr 3fr 5fr;
  justify-items: center;
  align-items: top;
  grid-template-rows: 75px 28px;
}

img {
  margin-top: 30px;
  width:100%;
}

hr {
  background-color: #3D3232;
  color:#3D3232;
  border: none;
  height: 2px;
}

/* Заметки по стилю заголовков:

    H1 - Для логотипа - БЕСТИАРИЙ
    H2 - Для заголовков
    H3 - Для логотипа - по славянской мифологии
    H4 - Декоративные элементы
    H5 - Для описания */

h1 {
  margin: 0;
  margin-top: 30px;
  font-family: "Kramola";
  text-decoration: none;
  font-size: 75px;
  color: #AC2C2C;
}

h2{
  text-transform: uppercase;
  font-family: "Kramola";
  text-decoration: none;
  font-size: 70px;
  color: #AC2C2C;
  padding: 10px;
  margin: 70px 200px;
}

h3{
  font-family: "Kramola";
  text-decoration: none;
  font-size: 32px;
  color: #AC2C2C;
  margin-top:20px;
}
h4 {
  font-family: 'Bit Blocks TTF BRK';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 25px;
  color: #AC2C2C;
  margin: 0;
}
h4.logo{
  margin-top:30px;
}
h4.description{
  color: rgba(172, 44, 44, 0.1);
}

h5{
  margin:0;
  margin-left: 25%;
  width: 800px;
  height: 75px;
  font-family: 'Kramola';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #3D3232;
}

a {
  font-family: "Kramola";
  text-decoration: underline;
}

a:hover{
  font-size: 22px;
  color: #AC2C2C;
}

p{
  font-family: 'Omniglot Font';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-indent: 18px;
  color: #3D3232;
  width: 802px;
  height: 75px;
  margin-left: 400px;
  margin-bottom: 30px;
}

.description{
  text-align: center;
}
